html {
  box-sizing: border-box;
  font-size: 10pt;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: Raleway;
  font-size: 1rem;
  font-weight: normal;
}

body {
  background: rgb(204, 204, 204);
}

a {
  color: black;
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style: none;
}

h1 {
  inline-size: 36%;
  font-family: Raleway;
  font-size: 4rem;
  font-weight: normal;
  padding-block-start: 10px;
}

h2 {
  font-family: Raleway;
  font-weight: 300;
  font-size: 2rem;
}

h3 {
  display: inline;
  font-family: Raleway;
  font-size: 1.4rem;
  font-weight: bold;
}

h4 {
  font-family: Raleway;
  font-size: 1.2rem;
  font-weight: normal;
}

.resume {
  inline-size: 210mm;
  block-size: 297mm;
  margin-block: 1cm;
  margin-inline: auto;
  background: white;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

.separator {
  inline-size: 100%;
  block-size: 0.2cm;
}

.resume-container {
  padding-inline: 1.5cm;
  padding-block: 0.6cm;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  inline-size: 59%;
  font-family: Raleway;
  font-size: 1rem;
}

.link {
  text-decoration: none;
}

.keys {
  inline-size: 18%;
}

.body-container {
  inline-size: 100%;
  display: flex;
  justify-content: space-between;
}

.left-column {
  inline-size: 36%;
}

.right-column {
  inline-size: 59%;
}

.text-sm {
  font-family: Raleway;
  font-size: 1rem;
  font-weight: normal;
}

.bullet-list {
  list-style: none;
  margin-inline: 0;
  margin-block: 0;
  padding-inline: 0;
  padding-block: 0;
}

.bullet:before {
  content: '• ';
}

.bullet {
  font-family: Raleway;
  font-size: 1.1rem;
  font-weight: normal;
  text-indent: -10px;
  padding-inline-start: 10px;
}

b {
  font-family: Raleway;
  font-size: 1.2rem;
  font-weight: 500;
}

@media print {
  .resume {
    box-shadow: 0 0 0cm;
    margin-block: 0;
    margin-inline: 0;
  }
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway/Raleway-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
